In [1]:
from date_a_scientist import DateAScientist

ds = DateAScientist(
    df="https://imprv-content-assets.fra1.cdn.digitaloceanspaces.com/datasets/wroclaw_halfmarathon_2023/halfmarathon_wroclaw_2023__final.csv?sep=%3B&encoding=utf-8",
    column_descriptions="https://imprv-content-assets.fra1.cdn.digitaloceanspaces.com/datasets/wroclaw_halfmarathon_2023/field_descriptions.json",
)

In [2]:
ds._df

,Miejsce,Numer startowy,Imię,Nazwisko,Miasto,Kraj,Drużyna,Płeć,Płeć Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilność,Czas,Tempo
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA WŁADYSŁAWOWO,M,1.0,M30,...,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROCŁAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,3.0,3832,KRZYSZTOF,HADAS,POZNAŃ,POL,NaN,M,3.0,M20,...,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475
3,4.0,416,DAMIAN,DYDUCH,KĘPNO,POL,AZS POLITECHNIKA OPOLSKA,M,4.0,M30,...,3.196667,00:48:49,5.0,3.330000,01:06:54,4.0,3.616667,0.025467,01:10:16,3.330963
4,5.0,8476,KAMIL,MAŃKOWSKI,MIRKÓW,POL,PARKRUN WROCŁAW,M,5.0,M20,...,3.276667,00:49:31,7.0,3.386667,01:07:27,5.0,3.586667,0.023000,01:10:27,3.339654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,NaN,8901,KAROL,ŻUKOWSKI,NaN,NaN,Ovb Polska,M,NaN,M30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNF,NaN
8946,NaN,659,KORNELIA,ŻUKROWSKA,NaN,NaN,NaN,K,NaN,K30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN
8947,NaN,6402,MAGDALENA,ŻÓRAŃSKA,NaN,NaN,Iławskie Świry Biegowe,K,NaN,K40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN
8948,NaN,2771,KATARZYNA,ĆWIĄKALSKA,NaN,NaN,NaN,K,NaN,K40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN
8949,NaN,2773,JULIUSZ,ĆWIĄKALSKI,NaN,NaN,NaN,M,NaN,M40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN

In [3]:
ds._column_descriptions

{'Miejsce': 'Klasyfikacja Open',
 'Numer startowy': 'Z jakim numerem startowym wystartował zawodnik',
 'Drużyna': 'Nazwa drużyny',
 'Płeć Miejsce': 'Miejsce w kategorii płci',
 'Kategoria wiekowa Miejsce': 'Miejsce w kategorii wiekowej',
 'Rocznik': 'Rok urodzenia',
 '5 km Czas': 'Czas po przebiegnięciu 5 km',
 '5 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 5 km',
 '5 km Tempo': 'Tempo przebiegnięcia pierwszych 5 km, w minutach na kilometr',
 '10 km Czas': 'Czas po przebiegnięciu 10 km',
 '10 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 10 km',
 '10 km Tempo': 'Tempo przebiegnięcia od 6-10 km, w minutach na kilometr',
 '15 km Czas': 'Czas po przebiegnięciu 15 km',
 '15 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 15 km',
 '15 km Tempo': 'Tempo przebiegnięcia od 11-15 km, w minutach na kilometr',
 '20 km Czas': 'Czas po przebiegnięciu 20 km',
 '20 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 20 km',
 '20 km Tempo': 'Tempo przebiegnięcia od 16-20 km, w minutach na kilometr',
 'Tempo Stabilność': 'Stabilność tempa, im mniejsza wartość tym bardziej stabilne tempo, ujemna wartość\xa0oznacza przyspieszenie, dodatnia spowolnienie',
 'Czas': 'Czas całkowity'}

In [4]:
ds.chat("ile jest rekordów?")

8950

In [1]:
# on Anaconda Cloud free account has limited access to the internet (firewall) but it can read google drive
# therefore
from date_a_scientist import DateAScientist

ds = DateAScientist(
    # date-a-scientist potrafi pobierać dane z internetu!
    df="https://drive.google.com/uc?export=download&id=121kjpjzmGr-EfFU8tsqS4TccU7Iw1--6&sep=%3B&encoding=utf-8",
    column_descriptions="https://drive.google.com/uc?export=download&id=1GjWB4PAko3o49vwFABbavRFjHOA3mH4c",
)

In [2]:
ds._df

,Miejsce,Numer startowy,Imię,Nazwisko,Miasto,Kraj,Drużyna,Płeć,Płeć Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilność,Czas,Tempo
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA WŁADYSŁAWOWO,M,1.0,M30,...,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROCŁAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,3.0,3832,KRZYSZTOF,HADAS,POZNAŃ,POL,NaN,M,3.0,M20,...,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475
3,4.0,416,DAMIAN,DYDUCH,KĘPNO,POL,AZS POLITECHNIKA OPOLSKA,M,4.0,M30,...,3.196667,00:48:49,5.0,3.330000,01:06:54,4.0,3.616667,0.025467,01:10:16,3.330963
4,5.0,8476,KAMIL,MAŃKOWSKI,MIRKÓW,POL,PARKRUN WROCŁAW,M,5.0,M20,...,3.276667,00:49:31,7.0,3.386667,01:07:27,5.0,3.586667,0.023000,01:10:27,3.339654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,NaN,8901,KAROL,ŻUKOWSKI,NaN,NaN,Ovb Polska,M,NaN,M30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNF,NaN
8946,NaN,659,KORNELIA,ŻUKROWSKA,NaN,NaN,NaN,K,NaN,K30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN
8947,NaN,6402,MAGDALENA,ŻÓRAŃSKA,NaN,NaN,Iławskie Świry Biegowe,K,NaN,K40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN
8948,NaN,2771,KATARZYNA,ĆWIĄKALSKA,NaN,NaN,NaN,K,NaN,K40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN
8949,NaN,2773,JULIUSZ,ĆWIĄKALSKI,NaN,NaN,NaN,M,NaN,M40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DNS,NaN

In [3]:
ds._column_descriptions

{'Miejsce': 'Klasyfikacja Open',
 'Numer startowy': 'Z jakim numerem startowym wystartował zawodnik',
 'Drużyna': 'Nazwa drużyny',
 'Płeć Miejsce': 'Miejsce w kategorii płci',
 'Kategoria wiekowa Miejsce': 'Miejsce w kategorii wiekowej',
 'Rocznik': 'Rok urodzenia',
 '5 km Czas': 'Czas po przebiegnięciu 5 km',
 '5 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 5 km',
 '5 km Tempo': 'Tempo przebiegnięcia pierwszych 5 km, w minutach na kilometr',
 '10 km Czas': 'Czas po przebiegnięciu 10 km',
 '10 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 10 km',
 '10 km Tempo': 'Tempo przebiegnięcia od 6-10 km, w minutach na kilometr',
 '15 km Czas': 'Czas po przebiegnięciu 15 km',
 '15 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 15 km',
 '15 km Tempo': 'Tempo przebiegnięcia od 11-15 km, w minutach na kilometr',
 '20 km Czas': 'Czas po przebiegnięciu 20 km',
 '20 km Miejsce Open': 'Miejsce w klasyfikacji Open po przebiegnięciu 20 km',
 '20 km Tempo': 'Tempo przebiegnięcia od 16-20 km, w minutach na kilometr',
 'Tempo Stabilność': 'Stabilność tempa, im mniejsza wartość tym bardziej stabilne tempo, ujemna wartość\xa0oznacza przyspieszenie, dodatnia spowolnienie',
 'Czas': 'Czas całkowity'}

In [4]:
ds.chat("ile jest rekordów?")

8950